<!DOCTYPE html>
<html lang="en">
<style>
    h1{
        text-align: center;
    }
    .special{
        background-color: rgb(156, 231, 152);
        

    }
    .br{
        background-color: rgba(249, 57, 57, 0.948);
    }
    table{
        border-collapse: collapse;
        margin: 20px auto;
        background-color: rgb(255, 255, 255);
        border: 2px solid;
        box-shadow: 0 2px 4px rgba(0, 0,0,0.1);
    }
    th,
        td {
            border: 2px solid #000509;
            padding: 10px;
            text-align: center;
        }


</style>
